<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sportApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6CE18951CB90E8F005A4C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6CE18AC1CB90E90005A4C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6CE18B71CB90E90005A4C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
